#panel{
    max-width:845px;
    background-color: aqua;
    color:white;
    width: 545px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 25px;
    
}
a{  
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
    font-size: 26px;
    
}

.input_class{
    width:400px;
    height:50px;
}
.button_aqua{
    width:80px;
    height:35px;
    background-color: aqua;
    color:white;
}